<a href="https://colab.research.google.com/github/caiocamanho/Data_Science/blob/main/ted_deposito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

from datetime import datetime

#Biblioteca de visualição de dados
import cufflinks as cf
cf.go_offline()

import plotly
plotly.io.renderers.default= 'colab'

In [ ]:
#Criei um variavel que contém o caminho arquivo xlx, que tem base de dados
url ='/content/drive/MyDrive/FIIS/Historio_conta_Rico1.xlsx'

In [ ]:
# Cria Data Frame com os dados da guia p1 do arquivo de xlx
fii = pd.read_excel(url, sheet_name='p1')

In [ ]:
#Adiciona a coluna DataMes ao data Frame
fii['Data_Lan'] = pd.to_datetime(fii['Data_Lan'])
fii['DataMes'] = fii['Data_Lan'].dt.strftime('%m')

In [ ]:
#lista com range de 1 ate 12
listaMes=[*range(1,13)]
#lista com 12 elementos igauis a 0
lista=[0,0,0,0,0,0,0,0,0,0,0,0]
lista2=[0,0,0,0,0,0,0,0,0,0,0,0]
#Lista nome dos meses
listaNomeMes=['Janeiro',
              'Fevereiro',
              'Marco',
              'Abril',
              'Maio',
              'Junho',
              'Julho',
              'Agosto',
              'Setembro',
              'Outubro',
              'Novembro',
              'Dezembro']
#Objeto inicializador do while
i=0
#Laço while que repeti ate 12
while i<12: 
  '''
    Função zfill(2) dois digitos , coloca um zero a esquerda
    Função str converte numero em string
  '''
  vlri =(fii['DataMes']==str(listaMes[i]).zfill(2)) & (fii['Operacao']=='TED_Deposito')
  swi = round(fii.loc[vlri,'Valor'],2)
  soi=swi.sum()
  lista[i]=soi
  i=i+1

#Soma dos elemento da lista lita
somalita=sum(lista)
#Inicializador do while
i=0
while i<12:
  #Calculo necessario para trazer o porcento
  pi=round((lista[i]/somalita)*100,2)
  lista2[i]=pi
  i=i+1
#Data Frame
df= pd.DataFrame({'Valor':lista,'%':lista2},index=listaNomeMes)
df

In [ ]:
df1= df.drop(columns=['%'])
df1.iplot(kind='bar',title="TED",yTitle="Reais")

In [ ]:
df2= df.drop(columns=['Valor'])
df2.iplot(kind='bar',title="TED",yTitle='Porcentagem')